body {
  margin: 0;
  padding: 0;
  font-family: Tahoma, sans-serif;
}
.container {
  max-width: 768px;
  margin: auto;
}
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('../img/Top.jpg');
  background-size: cover;
  background-position: center center;
}
.overlay-promo {
  background-color: #00bcd4;
  color: #ffffff;
}
